.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10rem;
    width: 100vw;
}
.paragraphs {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 1rem 0 1rem 2rem;
    flex-wrap: wrap;
    align-content: center;
    color: #333;
}
.charactor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100%;
}
.heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    margin-bottom: .5rem;
}
.sub {
    font-size: 1.3rem;
    font-weight: 400;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0 0 0 1rem;
}
    .sub::before {
        content: '';
        width: 1.3rem;
        height: 1px;
        background-color: #333;
        margin-right: .5rem;
    }
.passage {
    color: #333;
    width: 75%;
    font-size: 1.1rem;
}
.image {
    height: 100vh;
    width: auto;
    z-index: -1;
    transition: all 1s ease-in-out;
}
.name {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    margin: 1rem 0;
}