  .wrap {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
  }

  .main {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    z-index: -2;
  }

  .amau {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    z-index: -1;
    opacity: 0;
    animation: fadeUp 1s ease-in-out forwards;
    animation-delay: 3s;
  }
  
  .title {
    position: absolute;
    font-size: 10rem;
    font-family: 'Dela Gothic One', cursive;
    font-weight: 400;
    color: white;
    top: 40%;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    left: 1rem;
    z-index: 1;
    line-height: 1.5;
    opacity: 0;
    animation: fadeUp 1s ease-in-out forwards;
    animation-delay: 2.5s;
  }

  .subtitle {
    text-align: end;
    margin: 0;
    font-size: 2rem;
    opacity: 0;
    animation: fadeUp 1s ease-in-out forwards;
    animation-delay: 3s;
  }

  @keyframes scale {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }