.wrap {
    overflow-x: hidden;
    background: #fff;
}
.nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  color: #000;
  justify-content: center;
  align-items: center;
  z-index: 3;
  list-style: none;
  padding: 2rem;
  width: 100%;
  font-weight: bold;
  left: 50%;
  margin-top: 2%;
  transform: translate(-50%, -40%);
  @media screen and (max-width: 300px){
    font-size: 1rem;}
}
.li {
    margin-left: 70px;
    margin-right: 70px;
}
.li:hover {
    cursor: pointer;
    color: yellow;
}

.rb {
    position: relative;
    text-align: center;
    font-size: 0.5rem;
    color: #666;
    margin-left: .7rem;
}
   
@media screen and (max-width: 600px) {
    .li {
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 1rem;
    }
}
